*{
  box-sizing: border-box;
}

html, body{
  height: 100%;
  border: 1px solid red;
}
.left{
  background-color: blue;
  flex:1;
  width: 100px;
  height: 100vh;
}
.right{
  background-color: red;
  flex: 1;
  width: 100px;
  height: 100vh;
}
.layout{
  display:flex;
  justify-content: space-between;
  border: 1px solid green;
  gap:50px;
}
.grid-container{
  display:grid;
  min-height: 500px;
  min-width: 500px;
  grid-template-columns: repeat(16, auto);
  grid-template-rows: repeat(16, auto);
  align-self: center;
}

.grid-item{
  border: 1px solid rgb(189, 189, 189);
  background-color: rgb(220, 220, 220);
}
