
*{
  background-color: rgb(14, 14, 14);
  box-sizing: border-box;
}
.buttons{
  display: flex;
  justify-content: space-between;
  gap: 100px;
}
.layout{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.grid-container{
  display:grid;
  flex:0;
  min-height: 500px;
  min-width: 500px;
  max-width: 500px;
  max-height: 500px;
  grid-template-columns: repeat(16, auto);
  grid-template-rows: repeat(16, auto);
}
.grid-item{
  color:rgb(220, 220, 220);
  border: 1px solid #922b3e;
  background-color: rgb(220, 220, 220);
  text-align: center;
  font-size: 20px;
}
button{
  font-size: 24px;
  box-shadow: none;
  border: 1px solid green;
  border-radius: 5px;
  background-color: rgb(14, 14, 14);
  color:green;
}
.reset{
  color:#922b3e;
  border: 1px solid #922b3e;
}
